<a class="btn btn-info" href="scraps/create/"><span uk-icon="plus"></span> Add new Website </a>

<table class="uk-table uk-table-striped">
    <thead>
        <tr>
            <th>Website</th>
            <th>jsFile</th>
        </tr>
    </thead>

    <tbody>
        {{#each scraps}}
        <tr>
            <td>{{websitename}}
                (
                {{#if disabled}}
                <span>Disabled</span>
                {{else}}
                <span>Enabled</span>
                {{/if}}
                )

            </td>
            <td>{{jsFilePath}}</td>
            <td class="scrapper-icons">
                <a href="scraps/edit/{{_id}}" class="btn btn-info"><span uk-icon="pencil"></span>Edit</a>
                <a href="scraps/view/{{_id}}" class="btn btn-info"><span uk-icon="code"></span>View</a>
                <a href="scraps/delete/{{_id}}" class="btn btn-info"><span uk-icon="trash"></span>Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>