<div class="uk-overflow-auto">
    <table id="data-table" class="uk-table uk-table-hover uk-table-middle uk-table-divider">
        <thead>
            <tr>
                {{#each titles}}
                <th>{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                {{#each this}}
                <td>
                    <input value="{{this}}" title="{{this}}">
                    {{!-- {{this}} --}}
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                {{#each titles}}
                <th>{{this}}</th>
                {{/each}}
            </tr>
        </tfoot>
    </table>
</div>
<script defer>
    $(document).ready(function () {
        $('#data-table').DataTable();
    });
</script>
{{!--


<script type="text/javascript">
    var data = "{{data}}";
    $(document).ready(function () {
        var html = '<table class="table table-striped">';
        html += '<tr>';
        var flag = 0;
        $.each(data[0], function (index, value) {
            html += '<th>' + index + '</th>';
        });
        html += '</tr>';
        $.each(data, function (index, value) {
            html += '<tr>';
            $.each(value, function (index2, value2) {
                html += '<td>' + value2 + '</td>';
            });
            html += '<tr>';
        });
        html += '</table>';
        $('body').html(html);
    });
</script> --}}