<div class="uk-overflow-auto">
    <div class="uk-margin-small">
        <div class="uk-button-group uk-align-left">
            <button class="uk-button uk-button-primary" id="save">Save</button>
            <button class="uk-button uk-button-primary" id="saveCatalog">Update Catalog</button>
        </div>
        <div class="uk-button-group uk-align-right">
            <a href="/admin/scraps/view/{{scrapId}}" class="uk-button uk-button-secondary uk-align-right"
                type="submit">Back</a>
        </div>
    </div>


    <table id="data-table" class="uk-table uk-table-hover uk-table-middle uk-table-divider">
        <thead>
            <tr>
                {{#each titles}}
                <th>{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                {{#each this}}
                <td>
                    {{!-- <input value="{{this}}" title="{{this}}"> --}}
                    {{this}}
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                {{#each titles}}
                <th>{{this}}</th>
                {{/each}}
            </tr>
        </tfoot>
    </table>
</div>
<script defer>
    let tiltes = [{{#each titles }}'{{this}}', {{/each}}];


        $(document).ready(function () {


            editor = new $.fn.dataTable.Editor({
                table: "#data-table",
                "idSrc": "id",
                fields: [
                    {{#each titles }}
                        {name: '{{this}}', label: '{{this}}'}, 
                    {{/each}}
                ]
            });

            let dataTable = $('#data-table').DataTable({
                select: true,
                columns: [
                    {{#each titles }}
                        {data: '{{this}}'}, 
                    {{/each}}
                ],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                buttons: [
                    { extend: "create", editor: editor },
                    { extend: "edit", editor: editor },
                    { extend: "remove", editor: editor }
                ]
            });

            $('#data-table').on('click', 'tbody td:not(:first-child)', function (e) {
                editor.inline(this);
            });
        });

        $('#save').click(async (x) => {
            var tableData = $("#data-table").DataTable()
                .rows()
                .data();
            data = [];
            for (var i = 0; i < tableData.length; i++) {
                obj = {};
                index = 0;
                row = tableData[i];
                data.push(row)
            }

            const settings = {
                method: 'POST',
                headers: {
                    Accept: 'application/json',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: '{{id}}',
                    data: data
                })
            };
            const fetchResponse = await fetch(`/admin/scraps/update-data`, settings);
            document.location = '/admin/scraps/view/{{scrapId}}';
        })
</script>