<div class="uk-overflow-auto">
    <div class="uk-margin-small">
        <div class="uk-button-group uk-align-left">
            <a class="uk-button uk-button-primary" href="{{prevLinkHref}}" {{#ifCond skip 0}} disabled {{/ifCond}}>Prev logs</a>
            <a class="uk-button uk-button-primary" href="{{nextLinkHref}}" {{#ifCond haveMore false}} disabled {{/ifCond}}>Next logs</a>
        </div>
        <div class="uk-button-group uk-align-right">
            <form action="/admin/scraps/delete-logs" method="POST">
                <input type="hidden" name="id" value="{{id}}" />
                <button class="uk-button uk-button-secondary uk-align-right" type="submit">clear all logs</button>
            </form>
        </div>
    </div>


    <br >
    <br >


    {{#each logs}}
    {{#ifCond type 'error'}}
    <p class='error'>
        <b>{{toFormatedDate date}}</b>
        {{message}}
    </p>
    {{else}}
    <p class='info'>
        <b>{{toFormatedDate date}}</b>
        {{message}}
    </p>
    {{/ifCond}}

    {{/each}}
</div>